<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>110000</string>
		<key>name</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>code</key>
		<string>120000</string>
		<key>name</key>
		<string>天津市</string>
	</dict>
	<dict>
		<key>code</key>
		<string>130000</string>
		<key>name</key>
		<string>河北省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>140000</string>
		<key>name</key>
		<string>山西省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>150000</string>
		<key>name</key>
		<string>内蒙古自治区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>210000</string>
		<key>name</key>
		<string>辽宁省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>220000</string>
		<key>name</key>
		<string>吉林省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>230000</string>
		<key>name</key>
		<string>黑龙江省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>310000</string>
		<key>name</key>
		<string>上海市</string>
	</dict>
	<dict>
		<key>code</key>
		<string>320000</string>
		<key>name</key>
		<string>江苏省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>330000</string>
		<key>name</key>
		<string>浙江省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>340000</string>
		<key>name</key>
		<string>安徽省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>350000</string>
		<key>name</key>
		<string>福建省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>360000</string>
		<key>name</key>
		<string>江西省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>370000</string>
		<key>name</key>
		<string>山东省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>410000</string>
		<key>name</key>
		<string>河南省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>420000</string>
		<key>name</key>
		<string>湖北省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>430000</string>
		<key>name</key>
		<string>湖南省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>440000</string>
		<key>name</key>
		<string>广东省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>450000</string>
		<key>name</key>
		<string>广西壮族自治区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>460000</string>
		<key>name</key>
		<string>海南省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>500000</string>
		<key>name</key>
		<string>重庆市</string>
	</dict>
	<dict>
		<key>code</key>
		<string>510000</string>
		<key>name</key>
		<string>四川省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>520000</string>
		<key>name</key>
		<string>贵州省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>530000</string>
		<key>name</key>
		<string>云南省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>540000</string>
		<key>name</key>
		<string>西藏自治区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>610000</string>
		<key>name</key>
		<string>陕西省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>620000</string>
		<key>name</key>
		<string>甘肃省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>630000</string>
		<key>name</key>
		<string>青海省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>640000</string>
		<key>name</key>
		<string>宁夏回族自治区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>650000</string>
		<key>name</key>
		<string>新疆维吾尔自治区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>710000</string>
		<key>name</key>
		<string>台湾省</string>
	</dict>
	<dict>
		<key>code</key>
		<string>810000</string>
		<key>name</key>
		<string>香港特别行政区</string>
	</dict>
	<dict>
		<key>code</key>
		<string>820000</string>
		<key>name</key>
		<string>澳门特别行政区</string>
	</dict>
</array>
</plist>
